html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#root {
  height: 100%;
  background: black;
}
#background {
  position: fixed;
  top: -40%;
  right: 17%;
  filter: invert(1);
  height: 100%;
  width: 2874px;
  height: 1822px;
  background-image: url('../../public/background/plan.jpg');
  background-position: 99% 40%;
  background-repeat: no-repeat;
  opacity: 0.4;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
